 .navbar {
        background:transparent;
   
    }
.navbar-brand{
  color:white;
}
.navbar>.container-fluid .navbar-brand {
    margin-left: 15px;
}
    .navbar ul.navbar-nav a {
        font-family: 'Crete Round', serif;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.2px;
        text-align: left;
        color: #f5f8fb;
    }

    .navbar ul.navbar-nav a:hover {
        background: transparent;
    }

    .navbar button.navbar-toggle {
        background: #A0D2DB;
        border-radius: 3px;
    }

    .navbar button.navbar-toggle:hover {
        background: black;
    }

    .navbar button.navbar-toggle > span.icon-bar {
        background: white;
    }

    .navbar {
        -webkit-transition: all 0.6s ease-out;
        -moz-transition: all 0.6s ease-out;
        -o-transition: all 0.6s ease-out;
        -ms-transition: all 0.6s ease-out;
        transition: all 0.6s ease-out;
    }

    .navbar.scrolled {
        background: #202529;
        opacity: 0.7;
        
    }
    .navbar-brand.scrolled{
      color:black;
    }
    .navbar.scrolled #signIn {
        background-color: #A0D2DB;
        border-color: #fff;
        color: black;

        
    }

    #signIn {
        height: 40px;
        width: 85px;
        background: transparent;
        border-radius: 2px;
        border: solid 1px;
        margin-top: 5px;
        margin-left: 50px;
        margin-right: 10px;
        font-family: 'Crete Round', serif;
        color: #f5f8fb;
        z-index: 1;
    }

    #signIn:hover {
        background-color: #A0D2DB;
        border-color: #fff;
        color: white;

    }
#banner{
  background-color:#ff854f;
  background-size:contain;
  opavity:0.5;
  background-repeat:no-repeat;
  height:900px;width:100%;
}
h1{
  text-align:center;
  margin-top:15%;
  color:white;
  font-family: 'Crete Round', serif;
}
    /* Core Styles */
body {
  margin: 0;
  font-family: 'Crete Round', serif;
  background: #fff;
  color: #9E9E9E;
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
h1{
  margin: 0;
  padding: 1em 0;
}
h2 {
    color: #202529;
}
h3 {
  margin: 0;
  padding: 1em 0;
  color: #202529;
}
p {
  margin: 0;
  padding: 1em 0;
  font-size: 1.4em;
}
.boxpF{
  color: #202529;
}
.boxpS{
  color: #202529;
}
/* Header Showcase */
#showcase {
  min-height: 450px;
  color: #fff;
  text-align: center;
}
#showcase .bg-image {
  position: absolute;
  background: #333
    url("https://image.ibb.co/kg8h2w/pexels_photo_540518_min.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
  z-index: -1;
  opacity: 0.6;
}
#showcase h1 {
  padding-top: 100px;
  padding-bottom: 0;
}
#showcase .content-wrap,
#section-a .content-wrap {
  padding: 0 1.5em;
}
/* Section A */
#section-a {
  background: #eaeaea;
  color: #333;
  padding-bottom: 2em;
}
/* Section B */
#section-b {
  padding: 2em 1em 1em;
}
#section-b ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#section-b li {
  margin-bottom: 1em;
  background: #fff;
  color: #333;
}
.card-content {
  padding: 1.5em;
}
/* Section C */
#section-c {
  background: #fff;
  color: #333;
  padding: 2em;
}
/* Section D / Boxes */
#section-d .box {
  padding: 2em;
  color: #fff;
  margin-top: 20px;
}


#section-d .box:nth-child(1) {
    margin-right: 1px;
  background: #A0D2DB;
}
#section-d .box:nth-child(2n) {
    margin-left: 1px;
  background: #A0D2DB;
}
#section-f .box:nth-child(1) {
  margin-top: 0;
    margin-right: 1px;
  background: #A0D2DB;
}
#section-f .box:nth-child(2n) {
    margin-left: 1px;
  background: #A0D2DB;
  margin-top: 0;
}

/* Footer */
#main-footer {
  padding: 0.5em;
  background: #000;
  opacity: 0.3;
  color: #fff;
  text-align: center;
}
#main-footer a {
  color: #2690d4;
  text-decoration: none;
}
/* Media Queries */
@media (min-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
  }
  #section-a .content-text {
    columns: 2;
    column-gap: 2em;
  }
  #section-a .content-text p {
    padding-top: 0;
  }
  .content-wrap,
  #section-b ul {
    grid-column: 2/4;
  }
  .box,
  #main-footer div {
    grid-column: span 2;
  }
  #section-b ul {
    display: flex;
    justify-content: space-around;
  }
  #section-b li {
    width: 31%;
  }
}

