.asl {
  margin-bottom: 7px;
  padding: 10px 20px;
  background: white;
  border: none;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  cursor: pointer;
}

.asl:after, .asl:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 2px solid #000;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.asl:after {
  -webkit-transform: translate(3px, 3px);
          transform: translate(3px, 3px);
}

.asl:before {
  -webkit-transform: translate(-3px, -3px);
          transform: translate(-3px, -3px);
}

.asl:hover:after, .asl:hover:before {
  -webkit-transform: translate(0);
          transform: translate(0);
}
