@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
  box-sizing: border-box !important;
  font-family: 'Open Sans', sans-serif;
}

::-webkit-scrollbar {
  width: 12px !important;
  height: 10px;
  background-color: #ffffff;
  border-top: 1px solid #A0D2DB;
}

::-webkit-scrollbar-thumb {
  background-color: #A0D2DB;
  height: 5px;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: 100;
  text-align: center;
  width: 100%;
}

#projectsApp {
  width: 100%;
  float: left;
}

.projects {
  width: 23%;
  float: left;
  min-height: 50px;
  height: 50px;
  position: relative;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  margin: 10px 1% 10px 1%;
  overflow: hidden;
  transition: all 0.5s ease, opacity 0.1s;
  -webkit-transition: all 0.5s ease, opacity 0.1s;
}
.projects.shrunk {
  pointer-events: none;
  height: 0px !important;
  overflow: hidden;
  width: 0px !important;
  padding: 0px;
  transition: all 0.9s ease;
  -webkit-transition: all 0.9s ease;
}
.projects.hidden {
  opacity: 0;
  visibility: hidden;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
}
.projects .backArrow {
  display: none;
}
.projects.midTransition {
  width: 100% !important;
  min-height: 100% !important;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0px;
}
.projects.openedProject {
  width: 40px !important;
  height: 100% !important;
  min-height: 100%;
  position: fixed;
  margin: 0px;
  top: 0;
  left: 0;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  z-index: 100;
}
.projects.openedProject .backArrow {
  display: block;
  position: absolute;
  float: left;
  font-size: 30pt;
  color: #fff;
  width: 100%;
  float: left;
  text-align: center;
  margin: 0px;
  top: 45%;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}
.projects.openedProject .info {
  background: rgba(55, 55, 55, 0.9) !important;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}
.projects.openedProject:hover .info {
  background: rgba(55, 55, 55, 0.7) !important;
}
.projects.openedProject:hover .backArrow {
  transform: scale(1.2);
}
.projects:nth-child(1), .projects:nth-child(2) {
  width: 48%;
}
.projects .beforeTitle {
  color: black;
  float: left;
  opacity: 1;
  background: #fff;
  padding: 10px 5px 10px 5px;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  position: absolute;
  width: 90%;
  text-align: center;
  top: 45%;
  margin: 0px 5% 0px 5%;
}
.projects.openedProject .beforeTitle, .projects.openedProject h1, .projects.openedProject hr {
  display: none;
}
.projects.openedProject .info {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin-top: 0;
  margin-left: 0px;
  border-radius: 000px;
  opacity: 0.7;
  background: #A0D2DB;
}
.projects:hover .beforeTitle, .projects.midTransition .beforeTitle {
  opacity: 0;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
.projects:hover .info, .projects.midTransition .info {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin-top: 0;
  margin-left: 0px;
  border-radius: 000px;
  opacity: 0.7;
  background: #A0D2DB;
}
.projects:hover .info h1, .projects.midTransition .info h1 {
  opacity: 1;
  transform: translate(0%, 0);
  -webkit-transform: translate(0%, 0);
}
.projects:hover .info hr, .projects.midTransition .info hr {
  width: 70%;
  margin: 0px 15% 0px 15%;
  left: 0px;
  opacity: 1;
}
.projects .info {
  width: 50px;
  height: 50px;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -25px;
  float: left;
  opacity: 0;
  position: absolute;
  background: rgba(1, 154, 109, 0);
  overflow: hidden;
  transition: all 0.2s ease, opacity 0.1s;
  -webkit-transition: all 0.2s ease, opacity 0.1s;
  transition-delay: 0.1s;
  -webkit-transition-delay: 0.1s;
}
.projects .info .fadeTitle {
  float: left;
  width: 100%;
  color: #fff;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 12pt;
  text-align: center;
  letter-spacing: 5px;
  position: absolute;
  margin: 0px;
  opacity: 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  padding: 0px 10px 5px 10px;
  top: 45%;
  transform: translate(0%, -25px);
  -webkit-transform: translate(0%, -25px);
  transition-delay: 0.4s;
  -webkit-transition-delay: 0.4s;
}
.projects .info hr {
  outline: none;
  height: 3px;
  border: 0px;
  float: left;
  background-color: #fff;
  width: 2px;
  left: 50%;
  margin-left: -1px;
  opacity: 0;
  position: absolute;
  top: 53%;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
}

.selectedArea {
  width: 100%;
  min-height: 00%;
  max-height: 0px;
  float: left;
  background: #ACADBC;
  position: absolute;
  z-index: 10;
  padding: 0px 0px 0px 40px;
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
  top: 0;
  left: 0;
  transition: all 0.0s ease;
  -webkit-transition: all 0.0s ease;
}
.selectedArea.opened {
  opacity: 1;
  pointer-events: all;
  min-height: 100%;
  max-height: 100000%;
}
.selectedArea.opened .copyArea.fadeIn, .selectedArea.opened h1 span, .selectedArea.opened h1 {
  opacity: 1;
  -webkit-transform: translate(0px, 0%);
  transform: translate(0px, 0%);
}
.selectedArea:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  background: red;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.6) 10%, white 90%);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, rgba(255, 255, 255, 0.6) 10%, white 90%);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, rrgba(255, 255, 255, 0.6) 10%, white 90%);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, rgba(255, 255, 255, 0.6) 10%, white 90%);
  /* Standard syntax */
  top: 0;
  left: 0;
  z-index: -1;
}
.selectedArea h1 {
  float: left;
  width: 100%;
  margin: 0px;
  padding: 80px 5px 80px 5px;
  background-size: cover;
  background-position: center;
  text-align: center;
  font-size: 28pt;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 5px;
  color: #1a1a1a;
  opacity: 0;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}
.selectedArea h1 span {
  background: #fff;
  padding: 10px 80px 10px 80px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate(0%, -100%);
  transform: translate(0%, -100%);
  transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
}
.selectedArea .copyArea.fadeIn {
  width: 880px;
  float: left;
  position: relative;
  left: 50%;
  margin-left: -450px;
  padding: 10px 25px 10px 25px;
  margin-top: 15px;
  margin-bottom: 85px;
  opacity: 0;
  -webkit-transform: translate(0%, 100%);
  transform: translate(0%, 100%);
  transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
}
.selectedArea .copyArea.fadeIn p {
  float: left;
  width: 100%;
  font-size: 12pt;
  line-height: 24pt;
  letter-spacing: 1px;
  font-weight: 100;
  color: #2a2a2a;
}

.noTransition {
  transition: all 0.0s ease !important;
  -webkit-transition: all 0.0s ease !important;
  transition-delay: 0.0s !important;
  -webkit-transition-delay: 0.0s !important;
}

@media screen and (max-width: 920px) {
  .projects {
    width: 48%;
  }
  .projects hr {
    top: 60% !important;
  }
  .projects:nth-child(1), .projects:nth-child(2) {
    width: 48%;
  }
  .projects:nth-child(1) hr, .projects:nth-child(2) hr {
    top: 53% !important;
  }

  .selectedArea .copyArea.fadeIn {
    width: 100%;
    margin-left: 0%;
    left: 0%;
  }
  .selectedArea h1 {
    font-size: 20pt;
  }
  .selectedArea h1 span {
    padding: 10px 25px 10px 25px;
  }
}
@media screen and (max-width: 620px) {
  .projects {
    width: 98% !important;
  }
  .projects hr {
    top: 55% !important;
  }
  .projects:nth-child(1), .projects:nth-child(2) {
    width: 48%;
  }
  .projects:nth-child(1) hr, .projects:nth-child(2) hr {
    top: 55% !important;
  }
}
